<div class="container">

    <!-- The Modal -->
    <div id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Roles
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal(roleTemplate)">add</button> 
                    <span class="show-mssage" *ngIf="successMessage != '' ">{{ successMessage }}</span> 
            </h4> 
            
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>ROLE</th>
                      <th style="text-align: center">ACTION</th>  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let role of roleList">
                      <td>{{ role.id }}</td>
                      <td>{{ role.role }}</td> 
                      <td style="text-align: center">
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteRole(role.id)">Delete</button>&nbsp;
                          <button type="button" class="btn btn-info btn-sm" (click)="editRole(roleTemplate,role)">Edit</button>
                      </td>
                    </tr>
                  </tbody> 
                </table> 
          </div> 
        </div>
      </div>
    </div> 

    <ng-template #roleTemplate>
      <div class="modal-header">
        <h4 class="modal-title">Add Role <span class="show-mssage">{{ message }}</span></h4> 
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="roleForm" class="form-horizontal" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class="control-label col-sm-3" for="role">Role Name:</label>
                <div class="col-sm-6">
                  <input type="test" class="form-control" formControlName="role"  id="role" placeholder="Enter role">
                </div>
              </div>
              <div class="form-group">        
                <div class="col-sm-offset-3 col-sm-6">
                  <button type="submit" class="btn btn-primary" *ngIf="!isUpdated">Create</button>                
                  <button type="submit" class="btn btn-primary" *ngIf="isUpdated">Update</button>                
                </div>
              </div>
            </form>
      </div>
    </ng-template>
</div>